/*
color palette for --color-[0,4] obtained from
https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
#4 So Many Lost Songs


*/
:root {
    --color-0: #051e3e;
    --color-1: #251e3e;
    --color-2: #451e3e;
    --color-3: #651e3e;
    --color-4: #851e3e;
    --match-list-item-height: 80px;
    --color-outline: var(--color-4);
    --color-text: white;
}

.app_col {
  height: 100vh;
}

.container {
  color: var(--color-text);
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important;
}

.info_box {
  background-color: var(--color-2);
  color: var(--color-text);
  text-align: center;
}

.match_bar {
  background-color: var(--color-1);
  padding: 0 5px;
}

.match_bar > h3 {
  text-align: center;
}

.match_list {
  list-style-type: none;
  padding-left: 0;
  height: 80vh;
  overflow-y: auto;
}

/*
styling obtained from style-1
https://codepen.io/anon/pen/aKbRvX
*/
.match_list::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: none;
}

.match_list::-webkit-scrollbar
{
	/* width: 12px; */
  width: 6px;
	background-color: none;
}

.match_list::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--color-0);
}

/*flexbox align-items https://internetingishard.com/html-and-css/flexbox/*/
.match_list_item {
  align-items: center;
  display: flex;
  height: var(--match-list-item-height);
}

.match_list_item:not(:first-child) {
  border-top: 1px solid var(--color-text);
}

.match_list_item > img {
  height: 50px;
  border-radius: 50%;
}

.match_list_item > img, .match_list_item_text {
  float: left;
  margin-left: 5px;
}

.match_list_item_info {
  height: 100%;
  margin-left: auto;
  padding: 5px 0px;
}

.match_list_item_info > div {
  height: 50%;
  text-align: right;
}

.match_list_item_time {
  align-items: flex-end;
  display: flex;
  font-size: 12px;
}

.match_list_item_text > p {
  margin: 0;
}

.match_search {
  padding-bottom: 10px;
}

.match_search > input {
  width: 100%;
  padding: 0px 5px;
  background-color: var(--color-0);
  border: none;
  height: 30px;
}

.match_search > input:focus {
  border: none;
  outline: 2px solid var(--color-outline);
}

/*
https://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
*/
.row_no_padding {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row_no_padding > .col-md-2, .row_no_padding > .col-md-8 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.settings_bar {
  background-color: var(--color-3);
}
