/*
color palette for --color-[0,4] obtained from
https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
#4 So Many Lost Songs


*/
:root {
    --color-0: #051e3e;
    --color-1: #251e3e;
    --color-2: #451e3e;
    --color-3: #651e3e;
    --color-4: #851e3e;
    --color-text: white;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  color: var(--color-text);
}

.info_box {
  background-color: var(--color-2);
  color: var(--color-text);
  text-align: center;
}

.match_bar {
  background-color: var(--color-1);
}

.match_search > input {
  width: 100%;
  padding: 0px 5px;
  background-color: var(--color-0);
}

.settings_bar {
  background-color: var(--color-3);
}
