/*
color palette for --color-[0,4] obtained from
https://digitalsynopsis.com/design/beautiful-color-palettes-combinations-schemes/
#4 So Many Lost Songs


*/
:root {
    --color-0: #051e3e;
    --color-1: #251e3e;
    --color-2: #451e3e;
    --color-3: #651e3e;
    --color-4: #851e3e;
    --color-text: white;
    --color-outline: var(--color-4);

    --match-list-item-height: 80px;
}

.app_col {
  height: 100vh;
}

.container {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  color: var(--color-text);
}

.info_box {
  background-color: var(--color-2);
  color: var(--color-text);
  text-align: center;
}

.match_bar {
  background-color: var(--color-1);
}

.match_bar > h3 {
  text-align: center;
}

.match_list {
  list-style-type: none;
  padding-left: 0;
}

/*flexbox align-items https://internetingishard.com/html-and-css/flexbox/*/
.match_list_item {
  height: var(--match-list-item-height);
  border: 1px solid red;
  display: flex;
  align-items: center;
}

.match_list_item > img, .match_list_item_text {
  float: left;
  margin-left: 5px;
}

.match_list_item > img {
  height: 50px;
  border-radius: 50%;
}

.match_list_item_text > p {
  margin: 0;
}

.match_search > input {
  width: 100%;
  padding: 0px 5px;
  background-color: var(--color-0);
  border: none;
}

.match_search > input:focus {
  border: none;
  outline: 2px solid var(--color-outline);
}

.settings_bar {
  background-color: var(--color-3);
}
